adium-theme-ubuntu==0.3.4
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
certifi==2020.12.5
chardet==4.0.0
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
Flask==1.1.2
gyp==0.1
idna==2.10
iotop==0.6
itsdangerous==1.1.0
Jinja2==2.11.3
litecli==1.5.0
MarkupSafe==1.1.1
pexpect==4.8.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
six==1.15.0
tabulate==0.8.7
terminaltables==3.1.0
unity-lens-photos==1.0
UNKNOWN==0.0.0
urllib3==1.26.3
wcwidth==0.2.5
Werkzeug==1.0.1
